extends layout

block meta
    meta(name='description' content=photo.caption)
    meta(name='og:description' content=photo.caption)
    meta(name='twitter:description' content=photo.caption)
    link(rel='preload' as='image' href=`/${album.slug}/${photo.photoGuid}/full.jpg`)
    if photo.thumbnail
        meta(name='twitter:image' content=photo.thumbnail.url)
        link(rel='preload' as='image' href=photo.thumbnail.url)
        meta(property='og:image' content=photo.thumbnail.url)
    else
        meta(name='twitter:image' content=photo.url)
        meta(property='og:image' content=photo.url)


block content
    div.photo-standalone
        if prevPhoto
            a.prev(href=`/${album.slug}/${prevPhoto}`)
        if photo.thumbnail
            img(src=`/${album.slug}/${photo.photoGuid}/full.jpg`, alt=`${photo.caption || 'Photo'}`, srcset=`/${album.slug}/${photo.photoGuid}/thumb.jpg 250w, /${album.slug}/${photo.photoGuid}/full.jpg 350w`)
        else
            img(src=`/${album.slug}/${photo.photoGuid}/full.jpg`, alt=`${photo.caption || 'Photo'}`, srcset=`/${album.slug}/${photo.photoGuid}/full.jpg 350w`)
        p.caption #{photo.caption}
        a.album-link(href=`/${album.slug}`) #{album.name}
        if nextPhoto
            a.next(href=`/${album.slug}/${nextPhoto}`)
        script(src='/assets/js/photo.js')

