extends layout

block meta
    meta(name='description' content=photo.caption)
    meta(property='og:image' content=photo.thumbnail.url)
    meta(name='og:description' content=photo.caption)
    meta(name='twitter:image' content=photo.thumbnail.url)
    meta(name='twitter:description' content=photo.caption)
    link(rel='preload' as='image' href=photo.thumbnail.url)

block content
    div.photo-standalone
        if prevPhoto
            a.prev(href=`/${album.slug}/${prevPhoto}`)

        img(src=photo.url, alt='Photo', srcset=`${photo.thumbnail.url} 250w, ${photo.url} 350w`)
        p.caption #{photo.caption}
        a.album-link(href=`/${album.slug}`) #{album.name}

        if nextPhoto
            a.next(href=`/${album.slug}/${nextPhoto}`)

